@CHARSET "UTF-8";
body,html { background:#f6f6f6; }
body {color: #000;font-size: 12px;margin: 0;padding: 0;}
ul li {list-style: none outside none;}
table {border-collapse: collapse;border-spacing: 0;}
/* table td,table th {border: 1px solid #999;padding: 0;	} */
/*layout*/#side,#footer {overflow: hidden;position:absolute;top: 0;left: 0;width: 100%;}
#main {/*min-width: 1000px;*/}
#side {right: auto;width: 189px;}
.frame {left: 0px;width: auto;height:100%;}/* .iframe不可以加 background ，如果必须加背景颜色，请联系 */
.six_header {position: relative;width: 1000px;margin: auto;}
a,a:hover {text-decoration: none;}
.logo {left: 7px;position: absolute;top: 5px;width: 135px;}
.top {height: 35px;overflow: hidden;}
.header .menu {color: #FDE6EB;height: 53px;padding-right: 0;padding-top: 0;width: 100%;}
.menu a {color: #FDE6EB;text-align: center;}
.header .menu a {display: inline-block;text-align: center;}
.header .menu2 a {width: 5em;}
.header .menu a:hover,.header .menu .selected {color: #FFCC00;font-weight: bold;}
.header .menu1 {background: url("../images/red/top_bg.png") no-repeat 0 0;float: left;height: 52px;margin-left: 200px;width: 538px;}
.header .menu2 {float: left;margin: 5px 14px 0;line-height: 22px;}
.header .menu3 a {float: left;margin: 23px 8px 0;line-height: 22px;background-image: url("../images/red/logout.png");width: 70px;height: 25px;}
.header .menu3 a:hover {background-image: url("../images/red/logout_rollover.png");}
.header .menu4 a {float:left;margin: 23px 8px 0;line-height: 22px;background-image: url("../images/support.png");width: 70px;height: 25px;}
.field-c {text-align:center;margin-top: 15px;}
#skinPanel {display:inline-block;}
#skinPanel ul {padding:0 0 10px 0;margin: 0;list-style: none;position: absolute;width: 5em;z-index: 999;}
#skinPanel ul li {padding:0 6px;height: 20px;line-height: 20px;clear: both;}
#skinPanel i {float: left;display: inline-block;border: 1px solid #ffc8c8;height: 9px;width: 9px;margin-top: 7px;}
#skinPanel a {width: 5em;}
#skinPanel ul a {width: 3em;}
/*.header .menu .logout {color: #FFDE00;width: 3em;}
*/.header .lotterys {line-height: 57px;margin-left: 2px;margin-top: 0;padding-left: 0;position: relative;}
.header .lotterys .show {float: left;}
.header .lotterys a {color: #F9F9F9;display: inline-block;float: left;font-weight: bold;height: 46px;margin: 0;text-align: center;}
.header .lotterys a:hover {color: #ff0;}
.header .lotterys a span {display: none;width: 117px;height: 46px;background: url(../images/red/nav_shuxian.png) no-repeat right 22px;}
.more_game {color: #ff0;}
.header .lotterys .selected {background: url("../images/red/nav_hover.png") no-repeat 4px 0;color: #FFFF00;}
.header .lotterys .setting {background: url("../images/setting.png") no-repeat 10px 18px;padding-left: 35px;cursor: pointer;color: rgb(252, 247, 247);position: absolute;left: 1054px;}
.header .lotterys .home {background: url("../images/home.png") no-repeat 10px 18px;padding-left: 35px;cursor: pointer;color: rgb(252, 247, 247);margin-left: 15px;position: absolute;left: 1108px;}
#lotteryChoose p {color: red;}
.popPanel {width: 108px;padding-bottom: 10px;background-color: #490418;position: absolute;z-index: 2000;left: 942px;top: 99px;display: none;}
.popPanel a {display: block;width: 106px;height: 30px;color: #fff;text-align: center;line-height: 30px;}
.popPanel a:hover {background-color: #823948;color: #ff0;}
.header .sub {color: #fff;height: 36px;line-height: 36px;padding-left: 15px;background: #F13131}
.header .sub a { cursor: pointer;color: #fff;padding: 0 0.5em;}
.header .sub a.active{color: #FFFF00;font-weight: 900;padding: 0 0.5em;}
.header .sub .selected {color: #FFFF00;font-weight: bold;}
.header .sub a:hover {color: #FFFF00;}
.side_left {}
.side_left ul {list-style: none outside none;margin: 0;padding: 0;}
.side_left .user_info {overflow: hidden;}
.side_left .info {clear: both;overflow: hidden;}
.side_left .info span,.side_left .info label {display: block;float: left;height: 22px;line-height: 24px;text-indent: 10px;}
.side_left .info label {color: #FEADB5;text-align: right;}
.side_left .info span {color: #fff;}
.zhanghu {margin: 6px 0 8px;}
.side_left #balance {font-weight: bold;}
.side_left .title {background: url("../images/red/left_bg.png") no-repeat 0 0;color: #fff;font-weight: bold;height: 33px;line-height: 33px;text-align: center;width: 189px;margin-top: 4px;margin-left: 6px;}
.side_left .worklogo {height: 40px;width: 177px;position: absolute;bottom: 2px;overflow: hidden;}
.worklogo img {border: 0;width: 177px;}
.side_left #changeVer {color: #162E92;display: block;height: 35px;line-height: 35px;}
.left_a li a {color: #fff;}
#drawOfficial {clear: both;overflow: hidden;width: 189px;}
#drawOfficial ul {margin: 8px 0 10px;overflow: hidden;}
#drawOfficial li {color: #fff;float: left;line-height: 24px;margin: 0 10px;width: 157px;}
#drawOfficial a {color: #fff;}
#drawOfficial a:hover {color: red;}
.side_left .control {background: white;text-align: center;height: 25px;border: 1px solid;}
.side_left .control a {background: url("images/red/btn-bg.png") repeat-x;width: 66px;height: 18px;line-height: 18px;color: #fff;display: inline-block;margin-top: 4px;}
.skin_blue .side_left .control a {background: url("images/blue/btn-bg.png") repeat-x;}
.side_left p {margin: 0;/*height: 18px;*/line-height: 18px;}
.side_left .bets .numbers span {color: #067ece;}
.side_left .bets .contents {padding-left: 4em;text-indent: 0;}
.side_left .bets .bid {color: #119400;}
.side_left .bets .text {color: #0017C7;white-space: pre-wrap;word-wrap: break-word;}
.side_left .bets .six_odds {font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;color: red;font-weight: bold;}
#betResultPanel {color: black;}
#betResultPanel .bresults {max-height: 367px;overflow: auto;}
#betResultPanel .bets {text-indent: 5px;border-left: 1px solid;border-right: 1px solid;border-top: 1px solid;}
#betResultPanel li {padding: 1px;background: white;border-top: 1px solid;}
#betResultPanel .Paneltitle {height: 35px;line-height: 35px;border: 1px solid;font-weight: bold;text-align: center;font-size: 14px;}
#betResultPanel .total tr {text-align: center;height: 24px;text-indent: 10px;background: white;}
#betResultPanel .total .label {width: 75px;background: #F8F9FE;}
#betResultTotal {font-weight: bold;}
#betResultPanel table {width: 100%;}
#betResultPanel .bets td {background: white;text-align: center;}
#betResultPanel .bets .head {background: #ebd7d7;}
#betResultPanel .bets .id {width: 18%;}
#betResultPanel .bets .nums {width: 54%;}
#betResultPanel .bets .amount {text-align: left;width: 28%;text-indent: 2px;}
#lastBets {margin-top: 10px;}
#lastBets .title a {background: url("images/blue/btn.png") no-repeat 0 0;position: relative;display: block;width: 37px;height: 18px;line-height: 18px;color: #fff;font-weight: normal;margin: -24px 0 0 180px;}
#lastBets .title a:hover {background-position: -38px 0;}
#lastBets .bets {text-indent: 5px;border-left: 1px solid;border-right: 1px solid;color: black;max-height: 300px;overflow-y: auto;border-left: 1px solid #E6B3BE;border-right: 1px solid #E6B3BE;}
.skin_blue #lastBets .bets {text-indent: 5px;border-left: 1px solid #b9c2cb;border-right: 1px solid #b9c2cb;color: black;max-height: 300px;overflow-y: auto;}
#lastBets li {padding: 1px;background: white;border-top: 1px solid #E6B3BE;}
#lastBets li:nth-child(even) {background: #efefef;}
.skin_blue #lastBets li {padding: 1px;background: white;border-top: 1px solid #b9c2cb;}
#lastBets .bets p {white-space: pre-wrap;word-wrap: break-word;}
#frame {width: 100%;height: 100%;}
#footer {top: auto;min-width: 1225px;background: url("../images/marquebg.png") repeat-x;border-bottom: 1px solid #E6B3BE;border-top: 1px solid #E6B3BE;line-height: 27px;height: 27px;text-indent: 3px;}
#footer .info {padding-right: 65px;}
#footer .six_more {position: absolute;right: 18px;top: 0;color: #762D08;}
#footer span {color: #35406D;}
.skin_blue #footer span {color: #35406D;}
#footer span {color: #626262;}
.ui-widget-overlay {position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: #888;opacity: 0.3;}
.ui-front {z-index: 100;}
.ui-dialog {border: 6px solid #ddd;background: white;}
.ui-dialog-titlebar {padding: 4px 0;line-height: 16px;	text-align:center;	padding:10px 0;	}
.ui-dialog-icon {display: inline-block;background-position: -52px -52px;height: 11px;width: 14px;margin: 0 4px 0 10px;}
.ui-dialog-title {font-size: 14px;font-weight: 700;color: #d63e35;margin-left: 7px;}
.ui-dialog-titlebar-close {background-position: -52px -42px;height: 9px;width: 11px;border: none;margin: 3px 4px 0 0;padding: 0;float: right;text-indent: 99999px;font-size: 0;}
.ui-dialog-buttonset {border: 1px solid white;text-align: center;padding: 8px 0;}
.ui-dialog-buttonset .ui-button {border: none;width: 66px;height: 18px;line-height: 18px;margin-right: 5px;color: #fff;letter-spacing: 3px;}
.ui-dialog-buttonset .ui-state-hover {background-position: 0 -19px;color: #FFE400;font-weight: bold;}
.table {word-wrap: break-word;width: 100%;}
.table thead th {text-align: center;color: #fff;height: 24px;line-height: 24px;background: #516073;;}
.skin_blue .table thead th {background: #c5e5f4;color: #35406d;}
.skin_gray .table thead th {background: #c5e5f4;color: #fff;}
.notices tbody td {font-weight: normal;text-align: center;color: #302F2F;font-size: 13px;}
.notices .contents {text-align: left;text-indent: 2em;}
#betsBox table {text-align: center;}
#betsBox table th {height: 24px;white-space: nowrap;}
#betsBox table td {height: 26px;}
#betsBox .contents {text-align: left;text-indent: 0.4em;white-space:nowrap;}
#betsBox .six_odds {color: red;}
#betsBox .amount input {width: 50px;}
#betsBox .check {width: 28px;}
#betsBox a {color: blue;cursor: pointer;}
#betsBox .multiple ol {position: absolute;background: white;width: 300px;padding: 5px;margin: 0;border: 1px solid;list-style-position: inside;}
#betsBox .multiple li {float: left;margin: 0 5px;}
#betsBox .multiple li span {color: blue;}
#betsBox .bottom {border: 1px solid #999;}
#betsBox .bottom span {display: inline-block;height: 26px;text-align: center;line-height: 26px;}
#bcount {width: 143px;border-right: 1px solid;}
/*#btotal {width: 254px;}*/
#betsBox .betList {max-height: 300px;overflow-x: hidden;overflow-y: auto;}
.skin_red {/*background:#A12F37;*/}
.skin_red .ui-dialog {border-color: #DF678D;}
.skin_red .ui-dialog-icon,.skin_red .ui-dialog-titlebar-close {background-image: url("../images/btn.png");}
.skin_red .ui-dialog-content {border-bottom: 1px solid #E6B3BE;padding: 8px 8px 16px 8px;}
.skin_red .ui-dialog-buttonset {background: #FFEAF2;}
.skin_red .ui-dialog-buttonset .ui-button {background-image: url("../images/btn-bg.png")}
.skin_red #betResultPanel .bets,.skin_red #betResultPanel li,.skin_red .control,.skin_red table td,.skin_red table th,.skin_red #betsBox .bottom,.skin_red #bcount {border-color: #E6B3BE;}
.skin_red .skinHover,.skin_red .skinHover ul {background: #B0565A;}
.menu1 .draw_number {height: 50px;display: inline-block;float: left;margin-left: 48px;}
.menu1 .draw_number div {height: 22px;line-height: 22px;text-align: center;}
.menu1 a {display:block;margin-left: 10px;min-height:44px;}
.info .input {width: 60px;}
.contents .text {color: #2836f4;}
#betBox .drawNumber {color: #299a26;}
.contents .six_odds {color: red;font-weight: bold;font-family: Verdana, Arial, Sans;}
.plus {height: 24px;line-height: 24px; font-size: 28px; font-family: Microsoft Yahei; color:#666; margin:0 2px;}
/****************************//* The Modal (background) */
.modal {display: none; position: fixed;z-index: 10000;padding-top: 10%;left: 0;top: 0;width: 100%;height: 100%;overflow: auto;background-color: rgb(0, 0, 0);background-color: rgba(0, 0, 0, 0.4);}
/* Modal Content */
.modal-content {   position: relative;background-color: #fefefe;margin: auto;border: 6px solid #ddd;width: 20%;text-align: center;line-height: 25px;}
/* The Close Button */
.close {position: absolute;right: 5px;color: #aaaaaa;top: 5px;font-size: 24px;font-weight: bold;}
.close:hover,.close:focus {color: #666;text-decoration: none;cursor: pointer;}
.ele-game-wrap{ background-color: #f6f6f6; }
.game-icon1 { width: 114px; height: 114px; float: left; margin-right:25px;background: url(/common/statics/img/lottery/icon/1.png) no-repeat; position:relative; left:0px; top:3px;}
.game_sixlottery {background:url(/common/statics/img/lottery/icon/18.png) no-repeat; position:relative; left:15px; top:3px;}/*香港⑥合彩*/
.gct_l {width:600px;margin: 10px 0;height:120px;margin-right:-10px;}
.gct_l, .game-icon2 div, .game-icon2 h3 {float: left}
.gct_l h3 {font-size: 16px;color: #2f3336;line-height: 20px;padding-top: 15px;font-weight: 400}
.gct_now {color: #666;line-height: 20px; padding-top: 5px}
.color-green { color:#e84f31; font-weight: bold; }
.gct_now a { color:#FFF;}
.zoushi { width: 14px; height: 10px; position: relative; background: url(/common/statics/img/lottery/xiazhu/all_ico.png) no-repeat -287px -207px; float: left; top: 5px; right: 5px; }
.bt01 { margin-top: 5px; padding: 1px 10px;display: inline-block;border: 1px #F13131  solid; color: #fff;text-decoration: none;border-radius: 3px;-webkit-transition: all .2s linear;-moz-transition: all .2s linear;-o-transition: all .2s linear;-ms-transition: all .2s linear;transition: all .2s linear;background:#F13131;}
.bt01:hover {border: 1px #DD0303 solid;background: #DD0303}
.time-title {color: #e84f31;float: right;margin: 15px 130px 10px 0;display: inline-block}
.gct-time-now-l {float: right;position: relative;top: 7px;left: -25px;font-family: "DISPLAYFREETFB", 'Microsoft Yahei'}
.leaveh-1, .leaveh-2, .leavem-1, .leavem-2, .leaves-1, .leaves-2 {width: 42px;height: 54px;color: #fff;margin-right: 2px;text-align: center;font-size: 46px;font-weight: 500;line-height: 40px;display: inline-block;text-shadow: 1px 1px #000;background: url(/common/statics/img/lottery/xiazhu/all_ico.png) -262px -130px no-repeat;padding: 5px 0 0 0;}
.interval {font-family:'Microsoft Yahei';display: inline-block;height: 54px;line-height:64px;color: #30343E;font-size: 28px;text-align: center;margin-right: 3px;position: relative;top:-10px;left: -2px;}
#showgd-box {float: right;color:#666;width:380px;margin-top:10px;margin-left:-15px;margin-right:5px;position:relative;border-left: 1px #CECECE dashed;}
.box-ul {float:right;width: 30px;margin-left:-10px;}
#_nearby_periods{float:right; width:350px; border-left:1px #CECECE dashed; padding-left: 15px; margin-top: 5px; }
.box-ul a {cursor: pointer;float: right;display: inline-block;height: 50px;padding: 5px 0 5px 8px;text-decoration: none;color: #f6f6f6;background:#2f333d;-webkit-transition: all .2s linear;-moz-transition: all .2s linear;-o-transition: all .2s linear;-ms-transition: all .2s linear;transition: all .2s linear; line-height: 17px;}
#tabs_container,.near_periods_tab{width:320px;height:125px;margin-left:-20px;overflow:hidden;position: relative;}
.near_periods_tab{float:left;margin-left:-15px;}
#gd-box1, #gd-box2 {float: left;width: 350px;height: 120px;top: 0 !important}
#gd-box1 p {margin: 15px 0 0 28px}
#showgd-box li a:hover {background: #DD0303;}
.make_transist {-webkit-transition: all .3s ease-in-out;-moz-transition: all .3s ease-in-out;-o-transition: all .3s ease-in-out;-ms-transition: all .3s ease-in-out;transition: all .3s ease-in-out}
.hideleft {-webkit-transform: translateX(-100%);-moz-transform: translateX(-100%);-o-transform: translateX(-100%);-ms-transform: translateX(-100%);transform: translateX(-100%);-ms-filter: "alpha(opacity=0)";filter: alpha(opacity=0);opacity: 0}
.showleft {-webkit-transform: translateX(0px);-moz-transform: translateX(0px);-o-transform: translateX(0px);-ms-transform: translateX(0px);transform: translateX(0px);-ms-filter: "alpha(opacity=100)";filter: alpha(opacity=100);opacity: 1;-webkit-transition-delay: .3s;-moz-transition-delay: .3s;-o-transition-delay: .3s;-ms-transition-delay: .3s;transition-delay: .3s}
.tabulous_active {background: #F13131 !important;/* color: #12b35e !important;*/border-right: 1px #F13131 solid !important}
.tabulousclear {display: block;clear: both}
.lot-gd1 {margin-top: 20px;text-align: center;display: block}
.lot-gd1 li {display: inline-table;width: 40px;height: 40px;border-radius: 40px;background: #F13131;border: 3px #F13131 solid;box-shadow: 1px 1px 2px rgba(0,0,0,0.5);font-size: 26px;line-height: 40px;text-align: center;text-shadow: 1px 1px rgba(0, 0, 0, 0.50);color: #f6f6f6;font-weight: 800;margin-right: 12px;-webkit-transition: all .2s linear;-moz-transition: all .2s linear;-o-transition: all .2s linear;-ms-transition: all .2s linear;transition: all .2s linear}
.show-keno {margin-top: 5px;margin-left: 20px}
.lot-gd1 li.keno {width: 25px;height: 25px;line-height: 25px;border-radius: 25px;font-size: 16px;margin-right: 4px;margin-bottom: -3px;color: #fff;border: 2px #808cb0 solid;text-shadow: 1px 1px rgba(0, 0, 0, 0.2);background: #273041}
#gd-box2 {padding: 5px 0 0 25px}
#gd-box2 p {height: 23px}
.gd-box-q {color: #12b35e;font-weight: bold}
.gd-box-h {font-weight: bold;display: inline-block;width: 20px;height: 20px;line-height: 20px;border-radius: 20px;background: #fff;text-align: center;box-shadow: 1px 1px 2px rgba(0,0,0,0.5);margin-right: 4px}
.tz_body {color: #fff;padding-bottom:1px;}
.gm_con_to{width:1000px;margin:auto;background: #f6f6f6;}

.lot-gd1 li {display: inline-table;width: 40px;height: 40px;border-radius: 40px;background: #F13131;border: 3px #F13131 solid;box-shadow: 1px 1px 2px rgba(0,0,0,0.5);font-size: 26px;line-height: 40px;text-align: center;text-shadow: 1px 1px rgba(0, 0, 0, 0.50);color: #f6f6f6;font-weight: 800;margin-right: 12px;-webkit-transition: all .2s linear;-moz-transition: all .2s linear;-o-transition: all .2s linear;-ms-transition: all .2s linear;transition: all .2s linear; }