
/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0;}

/* icons 16x16 */
.icon_valid_16x16, .icon_error_16x16, .icon_info_16x16 {background: url(../images/icons_bg.png) no-repeat 0 0; width: 16px; height: 16px;}
.icon_valid_16x16 {background-position: 0 -250px;}
.icon_error_16x16 {background-position: 0 0;}
.icon_info_16x16 {background-position: 0 -150px;}
#loader img {float: left;}
#loader span {margin-left: 10px; line-height: 20px;}
.clear{clear: both;}
.hidden{display: none;}
.nospace{font-size: 0; height: 0; line-height: 0;}

.red{color:red;}
.blue{color:blue;}
.green{color:green;}
.grey{color:gray;}

/*tooltip*/
.tooltip_box{background:#fff; border:1px #999 solid; display:none; line-height:20px;padding:5px; position:absolute;}

/*浮动完善注册层的样式*/
.user-box{border: 5px #cccccc solid; width: 563px; background: #fff;}
.user-box .user-title{height: 52px; background: url(../images/user_bg.gif) 0 0 no-repeat;}
.user-box .user-title .close{width: 12px; height: 11px; background: url(../images/user_bg.gif) 0 -190px no-repeat; float: right; margin: 5px 5px 0 0; display: inline; cursor: pointer;}
.user-box .user-main{padding: 10px;}
.user-box .user-main .top-tip{line-height: 36px; text-align: center;}
.user-box .user-main .reg-table{width: 100%;}
.user-box .user-main .reg-table td{height: 48px; padding: 0 5px;}
.user-box .user-main .reg-table td.t{width: 110px; text-align: right; font-size: 14px;}
.user-box .user-main .reg-table .text{ width: 212px; height: 27px; border: 1px #BCBCBC solid; color:#333; font-size: 14px; font-weight: bold;}
.user-box .user-main .reg-table .phone{width: 105px; height: 27px; border: 1px #BCBCBC solid; color:#333; font-size: 14px; font-weight: bold;}
.user-box .user-main .reg-table p{color: #005aa0;}
.user-box .user-main .reg-table .default-btn{width: 121px; height: 37px; background: url(../images/user_bg.gif) -166px -177px no-repeat; border: none; cursor: pointer;}
.user-box .user-main .reg-table .submit-btn{background-position: -35px -177px;}
.user-box .reg-title{background-position:  0 0;}
.user-box .userinfo-title{background-position:  0 -58px;}
.user-box .phone-title{background-position:  0 -116px;}

/*全局警告窗口*/
#alert_window_box.fl_box{width: 415px;}
.fl_box h4{padding: 20px 40px; font-size: 16px;}
.fl_box .button_list{text-align: center; padding: 5px;}
.fl_main .fl_right{float: left;}
.fl_right .login_box{margin-top: 18px; margin-left: 15px;}
.login_box h1{background: url(../images/fl_icon.gif) -67px -47px no-repeat; height: 32px; line-height: 32px; font-size: 14px; color: #E60012; padding-left: 40px;}
.login_box table{ margin: 25px 25px 10px 25px;}
.login_box tr{height: 40px;}
.login_box td.t{text-align: right; font-weight: bold;}
.login_box .text{ width: 161px; height: 26px; border: 1px #BCBCBC solid; color:#333; font-size: 14px; font-weight: bold;}
.login_box .imgcode{ width: 100px; margin-right: 4px;}
.login_box .submit{background: url(../images/fl_icon.gif) 0 0 no-repeat; width: 151px; height: 40px; border: 0px; cursor:pointer;}
#float_login_tpl .login_box .alipay_quick{background:url(../images/alipay_quick_small.png) no-repeat;width:115px; height:25px;display:inline;margin-left:36px;float:left;}
#float_login_tpl .login_box .baidu_login{float: left; display: inline; margin-left:58px; text-decoration:underline;}
.float_other_login{text-align: left; line-height: 24px; margin-top: 10px; position: relative; width: 78px; margin-left: 20px; background: #FAFAFA;}
.float_other_login .float_other_box{line-height: 24px; width: 92px; position: absolute; right: 5px; top: 4px; padding: 1px; text-align: center;}
.float_other_login .float_other_box_on{border: 1px #B8B8B8 solid; background: #fff; padding: 0;}
.float_other_login .float_other_box .float_other_text{background: url(../images/tri.gif) 78px 10px no-repeat; padding-right: 12px; text-decoration: none; display: block;}
.float_other_login .float_other_box .float_other_text_on{background: url(../images/tri.gif) 78px -77px no-repeat;}
.float_other_login .float_other_box .float_other_list li{text-align: left; line-height: 22px; height: 22px;}
.float_other_login .float_other_box .float_other_list li a{text-decoration: none; display: block;}
.float_other_login .float_other_box .float_other_list li a:hover{background-color: #DFDFDF; color: #FE6B1D;}
.float_other_login .icon{background: url(/images/login_icons.gif) no-repeat; padding-left: 28px; display: block;}
.float_other_login .baidu{background-position: 0 -111px; margin-left: 10px; padding-left: 20px; width: 75px; margin-top: 4px;}
.float_other_login .baidu:hover{color: #FE6B1D; text-decoration: none;}
.float_other_login .sinaweibo{background-position: 5px -44px;}
.float_other_login .alipay{background-position: 5px 3px; }
.float_other_login .qqlogin {background-position: 5px -19px;}
.float_other_login .goyoo {background-position: 5px -135px;}
.float_other_login .baidulogin{background-position: 5px -111px; }

/*全局的提示信息窗口*/
.tip_window_border{width: 381px; border: 5px solid #fff; padding: 3px; background-color: #ff9600;}
.tip_window_border .content_box{background-color: #fff;}
.tip_window_border .content_box .close{float: right; height: 20px; width: 18px; background: #fff url(../images/tip_close.png) no-repeat top right; margin-right: 5px; display: inline; cursor: pointer;}
.tip_window_border .content_box h4{font-size: 14px; color: red; font-weight: normal; margin: 0 28px;}
.tip_window_border .content_box .content{font-size: 14px; color: #ff00ff; font-weight: normal; margin: 0 28px; padding: 10px 0 35px 0;}
/*
!*新的错误和成功提示浮层样式*!
.alert_window_box{width: 392px;}
.success_box{width: 327px;}
.alert_border{padding: 5px; background:rgba(169, 169, 169, 0.6); background:#a9a9a9\9; filter:alpha(opacity=60); zoom:1;}
.alert_box{border: 1px #dddddd solid; background: #fff; position: relative; overflow: hidden; zoom:1;}
.alert_box .alert_top{background: #f7f7f7; height: 31px; border: 1px #e9e9e9 solid;}
.alert_top .alert_title{line-height: 32px; font-size: 14px; font-weight: bold; color: #4e4e4e; margin-left:10px;}
.alert_top .alert_close{float: right; background: url(../images/tubiao-20.gif) -60px 0 no-repeat; width:20px; height: 20px; margin-right: 10px; margin-top:6px; cursor: pointer; display: inline;}
.success_close{float: right; background: url(../images/tishi_bg.gif) -28px -38px no-repeat; width:11px; height: 11px; margin-right: 7px; margin-top:6px; cursor: pointer; display: inline;}
.alert_box .alert_main{background: #fff; padding: 20px 20px 35px;}
.alert_main .icon_error{background: url(../images/tubiao-30.gif) center no-repeat; height: 40px; width: 90px; float: left; }
.alert_main .icon_success{background: url(../images/tubiao-g-30.gif) center no-repeat; height: 40px; width: 90px; float: left;}
.alert_main .icon_tip{background: url(../images/tubiao-30.gif) center no-repeat; height: 40px; width: 90px; float: left;}
.alert_main .alert_content{float: left; margin-top: 5px; padding-bottom: 5px; width: 250px;}
.alert_main .success_content{width: 180px;}
.alert_main .alert_content h4{font-size: 14px;}
.alert_main .alert_content .detail{padding-top: 6px; line-height: 22px;}
.alert_main .alert_content .f14{font-size: 14px;}
.alert_main .alert_content .forget{margin-left: 5px;}
.alert_main .alert_sbt{text-align: center; margin-top: 5px;}
.alert_main .alert_sbt .sub_btn{background: #f13833;min-width: 77px; width: auto !important; padding: 0 10px; height: 28px; font-weight: normal;color: #fff; border: none; font-size: 12px; cursor: pointer;}
.alert_main .alert_sbt .sub_btn2 { background:  #f13833; width: 87px; height: 28px; font-weight: normal;color: #fff; border: none; font-size: 12px; cursor: pointer; }
.blank_btn{width:77px;height:28px;border:none;cursor:pointer;background-color:#FFF;}
.alert_main .blank_btn{background: #fff; width: 77px; height: 28px; border: 1px solid #d6d4d5; font-size: 12px; color: #333333; cursor: pointer; }
.alert_main .notpay_btn{background: #f13833; width: 77px; height: 28px; font-weight: bold; border: none; font-size: 14px; cursor: pointer; margin-left: 20px;}
.alert_main .alert_push_text{background: url(../images/alert_push_bg.gif) no-repeat left center; width: 250px; height: 29px; margin: 10px 0 10px 61px; padding-left: 35px;line-height: 29px; font-size: 14px;}
.alert_main .alert_push_text a:link,.alert_main .alert_push_text a:visited{color: #fff;}
.alert_main .alert_push_mobile{background: url(../images/alert_push_mobile.png) no-repeat left center; width: 274px; height: 20px; margin: 0 0 0 40px; font-size: 14px;}
.alert_main .alert_push_mobile a{display:inline-block;width:274px;height: 20px;}*/

/*全局的分页样式*/
.page input {border: 1px solid #ccc;}
.page .page_num, .page .page_goto {height: 20px; line-height: 20px;}
.page .page_goto {padding: 0 5px;}

/*彩种投注频道页面样式*/
.gctop_box{position: relative; z-index: 10;}
.gcmain{width: 986px; margin: auto; z-index: 9;}
.gcmain .gcleft{float:left; width: 704px;}

.gcleft .tztop{border-top: 1px #FFD694 solid; border-left:1px #DBDBDB solid; border-right: 1px #DBDBDB solid; background: url(../images/tztop_bg.gif) repeat-x;margin-top:10px;}
.tztop .tzlogo{float: left;}
.tztop .tzxx{float: left; width: 350px; line-height: 22px;}
.tztop .tzxx h1{color: #FF0000; font-weight: bold; font-size: 14px; line-height: 30px;display:inline-block;zoom:1;*display:inline;}
.tztop .tzxx span{color:#FD980A;padding-left:12px;font-weight: bold; font-size: 14px;line-height: 30px;}
.tztop .term{float: right; font-size: 14px; font-weight: bold;  margin-right: 10px; margin-bottom:20px; display: inline;}
.tztop .term span{color: #FF0000;margin: 0 5px;}
.tztop .icon_links{text-align:right;padding-right:10px;}
.tztop .icon_links a{display:inline-block;padding-left:16px;text-align:left;margin-left:6px;}
.tztop .icon_links h2{display:inline-block;zoom:1;*display:inline;font-weight:normal;}
.icon_links p{display:inline;}
.tztop .icon_links .link_rule{background:url(../images/wenhao.gif) 0 2px no-repeat;width:48px;}
.zhuihao_title .link_rule{background:url(../images/wenhao.gif) 0 0 no-repeat;width:12px; display: inline-block; height: 14px; vertical-align: middle;}

.tztop .icon_links .link_trend{background:url(../images/zst.gif) no-repeat;width:36px;padding-left:18px;}
.gcleft .tznav{border-bottom: 3px #F79E09 solid; border-left:1px #DBDBDB solid; border-right: 1px #DBDBDB solid;}
.tznav ul{margin-left: 30px;}
.tznav li{color: #333333; float: left; background: url(../images/lottery_bg.gif) -83px 0 no-repeat; width: 79px; height: 30px; line-height: 30px; text-align: center; margin-right: 5px; font-size: 14px;}
.tznav li.on{background: url(../images/lottery_bg.gif) 0 0 no-repeat; font-weight: bold;}
.tznav li a:link,.tznav li a:visited{color: #333333; display: block;}
.tznav li a:hover{text-decoration: none;}
.tznav li a h2{font-weight:normal;}
.tznav li.on a h2{font-weight:bold;}
.gcleft .jztime{float: right; margin-right: 5px; display: inline; line-height: 30px;}
.gcleft .jztime span{color: #FF0000;}

#toptray_login span.span_login_rmb{ font-size: 12px; font-weight: bold; color:#F00; margin-left:6px;}
#toptray_login span.span_login_rmb_2{ font-size: 12px; font-weight: bold; color:#F00;height:18px;line-height: 18px;}
#toptray_login .header_show_money{ height:23px;}
#toptray_login .header_show_money a,#toptray_login .header_show_money span{ float: left;}
#toptray_login .header_show_money img{ float: left; margin-top: 5px;cursor: pointer;}
#wallet_container{position:relative; float: left;}
#wallet_container .red{background-color:transparent;border:none;}
#wallet_container .dashed_bottom{border-bottom: 1px dashed red;}
#wallet_detail{border:2px solid #E0E0E0;background-color:#FEFDC2;padding:8px;z-index:10;position:absolute;white-space:nowrap;line-height:20px;top:22px;left:0; width: 160px;}
#wallet_detail p {display: block; width: 100%;}
#wallet_detail a.account_detail{float:right;}

.pay_lock_box {position: relative; float: left; }
.pay_lock_box img { position: absolute; left: -10px; top: 17px; z-index: 1;}
.pay_lock_box span { position: absolute; border: 1px solid #979797; left: -20px; top: 25px; padding: 0 10px; white-space:nowrap; color: #7a7a7a; height: 20px; line-height: 20px; background-color: #FFF;}
.pay_lock, .pay_lock_grey, .pay_unlock { background: url(../images/lock.png); width: 14px; height: 18px; margin: 2px 0 0 5px; }
.pay_lock_grey { background-position: -14px 0;}
.pay_unlock { background-position: -28px 0;}
.message_icon{background: url(../images/message_icon.png) no-repeat 0 6px; padding-left: 19px; display: inline-block; height: 23px;}
.message_nums{background: url(../images/message_icon.png) no-repeat 0 -31px; padding-left: 19px; display: inline-block; height: 23px;}
.message_txt{display: none;}
.message_nums .message_txt{display: inline;}
.header .cdlist ul li a.message_nums:link, .header .cdlist ul li a.message_nums:hover, .header .cdlist ul li a.message_nums:visited{color: #ff9500;}
.message_box{position: relative; top: -23px; display: none;}
.message_box img{position: absolute; left: 5px; top: 22px; z-index: 1;}
.message_box span{position: absolute; border: 1px solid #979797; left: -20px; top: 25px; padding: 0 10px; white-space:nowrap; color: #7a7a7a; height: 20px; line-height: 20px; background-color: #FFF;}

/*-- 内页头部 --*/
.logo-box{float:left;width:120px;}
.logo-box .logo-index-hd{width: 230px;height: 30px;margin: 18px 16px 16px 0;}
.logo-box h1{white-space: nowrap;text-indent: -100%;overflow: hidden;height: 0;width: 0;}
.logo-box a{float:left}
.logo-box a#go_old{margin-top: 17px;}
.toptray-right{float:right;*text-align: right;}
.toptray-right-up,.toptray-right-down{line-height: 32px;height:32px;*overflow: hidden;}
.toptray-right-l,.toptray-right-r{line-height: 36px;height:36px;*overflow: hidden;}
.toptray-right-l{*width: 105px;}
#wallet_container{position: relative;float: left;margin-right: 5px;}
.img-login-refresh{margin-top: 6px;*margin-top: 0;}
.img-login-refresh:hover{background-position: 0 -20px;}
.head-simple-toptray-bd .img-login-refresh{margin-top: 9px;*margin-top: 0;}
.pay-lock-grey{background-position: -20px 0;margin-top: 6px;*margin-top: 0;}
.head-simple-toptray-bd .pay-lock-grey{background-position: -20px 0;margin-top: 9px;*margin-top: 0;}
.toptray-right li{float:left;}
.message-nums-hd .icon40{background-position: -327px -191px;width:25px;height:17px;margin-top: 8px;text-align: center;line-height: 14px;color:#fff; font-size: 12px;*margin-top: 0;}
.head-simple-toptray-bd .message-nums-hd .icon40{background-position: -327px -191px;width:25px;height:17px;margin-top: 11px;text-align: center;line-height: 14px;color:#fff; font-size: 12px;*margin-top: 0;}
.header-hd a.message-icon-hd{background-position: -327px -151px;width:25px;height:17px;margin-top: 8px;text-align: center;line-height: 14px;color:#fff; font-size: 12px;}
.p-zy10{padding:0 10px;color:#ccc;}
.customerService-hd{height: 100%;float: right;color:#999;}
.customerService-hd a{color:#f13131; margin:0 8px;}
.header-hd .mylottery,.customerService-hd li{line-height: 20px;padding:6px 0;}
.header-hd .head-simple-toptray-bd .mylottery,.head-simple-toptray-bd .customerService-hd li{line-height: 20px;padding:8px 0;}
.header-hd .my-lottery{line-height: 20px;width: 88px;display: inline-block;-padding-left: 10px;}
.header-hd .my-lottery em{background-position: -160px 0;}
.header-hd .my-lottery:hover em{-webkit-transition: all ease .3s;
    -webkit-transform: rotate(180deg);}
.my-lottery i{background-position: -80px -20px;}
.customerService-hd i{background-position: -60px 0;margin-right: 5px;}
.customerService-hd em{background-position: -120px 0;margin-right: 5px;}
.online_service a:hover em{background-position: -120px -20px;}
#mylottery{position:relative;}
.header-hd .mylottery .lot_list {width:100%;position: absolute;left:-3px;top: 23px;height:22px;line-height: 22px;background: #fff;height: 130px;border: solid 1px #ccc;border-top:none;padding: 2px;}
.header-hd .mylottery .lot_list li{white-space: nowrap;padding-left: 10px;*padding-left:20px;}
#wallet_detail{z-index:99999;}
.header-hd .header_sign{background: url(../images/sign.gif) 0px 0px no-repeat; width: 7px; height: 10px; display: inline-block; margin: 0px 2px -1px 0px; +margin-bottom: 1px; _margin-bottom: -4px; }
.header-hd .nosign {width: 7px; height: 10px; display: inline-block; margin: 0px 2px -1px 0px;}

/*暂停销售提示*/
.pause_market{ background: rgba(142,142,142,0.6); padding:4px; width: 616px; color: #999; line-height: 22px;}
.pause_market_main{ background: #fff;}
.pause_market_head{ padding:16px; text-align: right; line-height: 16px;}
.pause_market_close{ display: inline-block; vertical-align: top; *vertical-align: middle; width: 16px; height: 16px; background: url(../images/close.gif) no-repeat;}
.pause_market_body{ padding:10px 30px 30px;}
.pause_market_message{ width: 330px; float: left; padding:0 10px 0 20px; height: 214px; background: url(../images/pause_market_bg.gif) no-repeat 10px bottom;}
.pause_market_message h3{ font: normal 20px/24px 'Microsoft YaHei','微软雅黑'; color: #333; margin-bottom: 10px;}
.pause_market_links{ font: normal 14px/24px 'Microsoft YaHei','微软雅黑'; padding-top: 12px;}
.pause_market_links a:link,.pause_market_links a:hover,.pause_market_links a:visited{ color: #3f89ec; text-decoration: none;}
.pause_market_links a:hover{ text-decoration: underline;}
.pause_market_info{ overflow: hidden; _zoom:1; text-align: center;}
.pause_market_info img{ display: inline-block; vertical-align: top; *vertical-align: middle;}
.pause_market_slogan{ padding:5px 0;}

/*优化版头部*/
.header-plus .online_service .icon20{width:16px;height: 12px;background-position: -580px 0;vertical-align: middle;margin-bottom: 2px;}
.auto990{margin:0 auto;width:990px;height: 100%;}
.header-plus .arrow {background: url(../images/index_optimize.png)  -300px -30px !important; display: inline-block;}
.code-icon{ background: url(../images/index_code_bg.png);display: inline-block; }
.header-plus .colorRed{color:#F13131;}
.header-plus .color333{color: #333;}
.header-plus .color666{color: #666;}
.header-plus .color999{color: #999;}
.header-plus .mr10{margin-right:10px;}
.header-plus .m14{margin: 0 14px;}
.header-plus .ml14{margin-left:14px;}
.header-plus .mr14{margin-right:14px;}
.header-plus .fl-l{float:left;}
.header-plus .fl{float:left;}
.header-plus .fr{float:right;}

/*新登录左边完整信息*/
.logxinxi { float:right; width: auto; height:35px;  margin-top: 15px;}
.top_login {position: relative; height: 25px;line-height: 25px;margin-top: 2px;}
.dr_anniu { font-weight: bold; width: 55px;height: 26px;color: #fff;line-height: 26px;border: 0 none;border-radius: 4px;
font-size: 12px;letter-spacing: 5px;background: #f13833;text-align:center;}
.top_loginip{ width:95px; padding-left: 5px;}
.top_loginmm { width:50px;}

/*会员中心修改*/
.mainbox{width:984px;margin:10px auto 0;border:1px #dbdbdb solid;text-align:center;padding:50px 0}
.mainbox .content{margin:0 auto;width:500px;text-align:left}
.mainbox .left{float:left}
.mainbox .right{float:left;display:inline;text-align:center}
.mainbox .error{font-size:16px;font-weight:bold;color:#ff7f01;margin-top:10px}
.mainbox .success{font-size:14px;font-weight:bold;margin-top:15px}
.mainbox .success span{color:#f90}
.mainbox .link{font-size:12px;margin-top:5px}
.mainbox .tip{color:#00f;font-size:14px;margin-top:10px}
.mainbox .success_recharge{padding-left:30px;line-height:2;text-align:left;margin-top:0}

.m_tab {width: 99%;margin: 0px;background-color: #f2f2f2; border-collapse: collapse;-moz-border-radius: 2px; -webkit-border-radius: 2px;box-shadow: 0px 0px 3px #DFDFDF;-moz-box-shadow: 0px 0px 3px #DFDFDF; -webkit-box-shadow: 0px 0px 3px #DFDFDF; filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cccccc');-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color=#cccccc)";margin-bottom: 5px;margin-right: 5px;clear: both; border-top: 1px solid #C7C7C7; border-right: 1px solid #C7C7C7; border-left: 1px solid #C7C7C7;}
.m_tab td, .m_tab_2 td { border-right: 1px solid #C7C7C7;border-bottom: 1px solid #C7C7C7; padding: 6px 3px; word-break:break-all; max-width:200px; text-align:left;}
.m_tab tr, .m_tab_2 tr {background: #F7F7F7; line-height: 20px;}



/*-- 首页 注单记录 --*/

@media screen and (max-width: 3440px) {
	.sixBresults { width:210px; position: absolute; left: 230px; top:280px; z-index: 99}
}
@media screen and (max-width:1680px) {
	.sixBresults { width:210px; position: absolute; left: 100px; top:280px; z-index: 99}
}
@media screen and ( max-width: 1366px) {
	.sixBresults { width:170px; position: absolute; left: 5px; top:280px; z-index: 99}
}

.sixBresults-tit { background:#ff9726; color: #fff; padding-left:16px; line-height:34px;}
.sixrefresh { background: url(../images/sixrefresh.png) no-repeat; width:15px; height: 15px; float: right; margin:10px 19px 0 0  }
.sixBresults ul { background: #f9f2eb; height: 260px; overflow-y: auto; border: 1px solid #eabf8f;  }
.sixBresults ul li { border-bottom: 1px solid #eabf8f; margin-top: -1px; padding:5px 5px 10px; color:#666; }
.sixBresults ul li:last-child { border: 0; }
.c-red { color: #d90000; line-height: 24px; }

.cz-box { display: none; }

/*--six lottery颜色分组--*/
.col-r { font-weight: 700; color:#f13131; }
.col-01,.col-02,.col-07,.col-08,.col-12,.col-13,.col-18,.col-19,.col-23,.col-24,.col-29,.col-30,.col-34,.col-35,.col-40,.col-45,.col-46 { 
	background: #d90000; border-radius: 50%; width: 20px; height: 20px; text-align: center; line-height: 20px; color: #fff; display: inline-block; margin-right: 4px; }
.col-03,.col-04,.col-09,.col-10,.col-14,.col-15,.col-20,.col-25,.col-26,.col-31,.col-36,.col-37,.col-41,.col-42,.col-47,.col-48 {
	background: #3990b4; border-radius: 50%; width: 20px; height: 20px; text-align: center; line-height: 20px; color:#fff; display: inline-block; margin-right: 4px;
}
.col-05,.col-06,.col-11,.col-16,.col-17,.col-21,.col-22,.col-27,.col-28,.col-32,.col-33,.col-38,.col-39,.col-43,.col-44,.col-49 {
	background: #47b53a; border-radius: 50%; width: 20px; height: 20px; text-align: center; line-height: 20px; color:#fff; display: inline-block; margin-right: 4px;
}
.foot_box .about_box{border-top: 1px #CFCFCF solid; margin-top: 10px;text-align: center; margin-bottom:20px; padding-top: 0 ; width: 990px}

/*页脚2016.3.15 kent*/
.foot_info { overflow:hidden; padding-left:140px; margin-top:15px;}
